[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
flask-restful = "*"
peewee = "*"
psycopg2 = "*"
scrapy = "*"
pymongo = "*"

[requires]
python_version = "3.7"
