{# basic vhost config to bootstrap ssl #}
# server config for {{app_domain.root}}

server {
	listen 80;
	server_name {{app_domain.root}};
	root {{ app_root }}/public_html/;
	index index.html index.htm;
	autoindex on;

	location / {

	}


}
